MyWhatappAgent.json
{
  "name": "MyWhatappAgent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -260,
        -20
      ],
      "id": "7d7df2cc-e258-48ac-8eb6-b7089239ec7c",
      "name": "WhatsApp Trigger",
      "webhookId": "fc9ad1ad-16f4-4be2-ac71-02ff72df82f9",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KEsP4gEeUnvfZepx",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant called Jenni.\n\nRespond in a natural and friendly tone.\n\nYou are talking to {{ $json.contacts[0].profile.name }}\n\nThe current date and time is {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        760,
        180
      ],
      "id": "c0daf154-1be7-4180-bda4-c3e509cf6834",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        700,
        420
      ],
      "id": "46b2e44b-8182-4fb3-a4ee-4c680eb71504",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "9WIIDJqiGxXenPjM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        840,
        420
      ],
      "id": "fd5e8907-ee76-4ba9-94b9-05342909c9f2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a6e5b13-d3b2-454f-87d8-7e13dd101549",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2cb06559-6d32-4414-a1ff-d463b344308a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -80,
        -20
      ],
      "id": "129814ba-c3d1-45ed-bf38-71f9fdab434b",
      "name": "Select Output Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c03a80fb-9749-45ec-99a9-2865a2ce489e",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        0
      ],
      "id": "facb5774-37d2-4fbc-8086-7cdb5fd41b77",
      "name": "Map Fields"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "610533718817761",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "036af9ca-8b59-4d32-afc5-66f1244997d2",
      "name": "Send Text Output",
      "webhookId": "b6ddf084-3b75-4397-822d-7e211a63916c",
      "credentials": {
        "whatsAppApi": {
          "id": "NwhiMA1ez5CZOgj6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $('WhatsApp Trigger').item.json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        120,
        -240
      ],
      "id": "d92396a0-2ec0-4b96-997f-f389accebb87",
      "name": "Get Audio URL",
      "webhookId": "bd51bc21-ce3e-43c2-bd52-270cbd9a65ec",
      "credentials": {
        "whatsAppApi": {
          "id": "NwhiMA1ez5CZOgj6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        -240
      ],
      "id": "5424c150-6461-4ca7-89c3-3615e11d0066",
      "name": "Download Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "I0ejDxqSvACCRZJf",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        -240
      ],
      "id": "22582e67-3ba6-4f20-a1d3-a671e67e5e37",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "qMTebKCGGK8p9Rak",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c03a80fb-9749-45ec-99a9-2865a2ce489e",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        620,
        -240
      ],
      "id": "6e7bc6d9-c6bc-44e6-9240-8b02cb52e120",
      "name": "Map Fields1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "luayas@googlemail.com",
          "mode": "list",
          "cachedResultName": "luayas@googlemail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        980,
        420
      ],
      "id": "022c572d-85f7-4cd6-93e8-e456605595aa",
      "name": "Book Appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "dOYSX3LNA1uEMRQM",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f550c39-778c-4ac1-b496-047d3d324986",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].type }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1160,
        0
      ],
      "id": "0684a715-6e9c-48f9-bff4-8f18f85a1a07",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1360,
        -240
      ],
      "id": "1bda700e-514b-4480-a276-e6971fb7ace2",
      "name": "Generate Audio",
      "credentials": {
        "openAiApi": {
          "id": "qMTebKCGGK8p9Rak",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This Function node modifies the MIME type of the file\nreturn items.map(item => {\n  if (item.binary && item.binary.data) {\n    // Clone the binary data and modify mime type\n    item.binary.data.mimeType = 'audio/mpeg';\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -240
      ],
      "id": "59c5ed40-6f01-4636-9867-3e2b6bda2d5e",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "610533718817761",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1760,
        -240
      ],
      "id": "24a4025c-350e-4270-a655-75f71a45a684",
      "name": "Send Audio Message",
      "webhookId": "845a3597-d9b1-4191-bdf4-af3ee3074e43",
      "credentials": {
        "whatsAppApi": {
          "id": "NwhiMA1ez5CZOgj6",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Audio Path",
        "height": 200,
        "width": 1940
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -280
      ],
      "id": "5cbcc687-eec7-49f9-bf90-7c57108054a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Text Path",
        "height": 180,
        "width": 1440,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -40
      ],
      "id": "8ce994d4-78b1-45f3-a1aa-2b417d31f621",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI agent",
        "height": 400,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        160
      ],
      "id": "69dcb899-28a9-45f7-b988-9f37541d992f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 180,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        -40
      ],
      "id": "58df8586-295c-4e59-85a5-ac8d35149231",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Select Output Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Output Type": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Map Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Output": {
      "main": [
        []
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Media": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Map Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Book Appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Text Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Audio Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9e211b72-2a99-4d0d-b596-cc996aea27d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05b6cd2a19105bc7bc8aa65e5b3d953e66815a0e3658654251b6cb708fce0670"
  },
  "id": "SPvR2eJyf4dOzHvM",
  "tags": []
}